*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  
  font-family: 'Comic Neue', cursive;
}
body{
    overflow-x: hidden;
}
nav i{
    color: #50577A;
}
nav h1{
    color: gold;
}
nav i:hover{
    color: #E5B8F4;
}
li input{
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #50577A;
    color: #50577A;
    width: 100px;
}
li input:hover{
    color: #E5B8F4;
}
a{
    text-decoration: none;
    color: #50577A;
}
a:hover{
    color: #E5B8F4;
}
li{
    list-style: none;
}
h1{
    margin-left: 100px;
}
#ham{
   position: absolute;
   left: 15px;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color:rgba(209, 197, 203, 0.2);
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
}
nav h1,ul{
    margin-top: 15px;
}
nav ul li{
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
}
#btn-man{
 position: fixed;
 top: 50%;
 right: 0px;
 z-index: 7;
}
.but-nav{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    z-index: 7;
}
.but-nav ul li{
    display: inline-block;
    margin: 20px;
}
.but-nav ul{
    margin-top: 10px;
}

header{
    height:100vh;
    display:flex;
   flex-direction: column;
   justify-content: space-between;
    color:#fff;
}
.video-container{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
  z-index: -6;
}
.header-overlay{
    position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
  background-color:transparent;
  z-index: -1;
}
.sidebar{
    
   position: fixed;
   top: 0;
   left: -300px;
   height: 100vh;
   width: 300px;
   padding: 10px 0 0 10px;
   transition: 0.3s ease-in;
   z-index: 7;
   background-color: #A0C3D2;
  

    
}
.sidebar a,p{
  
    color: #EAE0DA;
}

.sidebar a:hover{
    color: #F7F5EB;
}

.sidebar p:hover{
    color: #F7F5EB;
}
#wraper{
    margin-top: 80px;
}
.close{
position: relative;
cursor: pointer;
}
#yh{
    position: absolute;
    left: -10px;
    top: 2px;
    font-size: 24px;
}
.active{
    left: 0;
}

/* #sidebar{
   
    
    
} */
.containts{
    height: 100hv;
    width: 100%;
}
.containt{
    width: 100%;
    height: 100vh;
    background-image: url(Assets/coats.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0vmax;
    position: relative;
}
.containt1{
    width: 100%;
    height: 100vh;
    background-image: url(Assets/3rd.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0vmax;
    position: relative;
}
.containt2{
    width: 100%;
    height: 100vh;
    background-image: url(Assets/4the.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0vmax;
    position: relative;
}
.containt3{
    width: 100%;
    height: 100vh;
    background-image: url(Assets/11thh.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0vmax;
    position: relative;
}
#ldiv{
    /* border: 1px solid black; */
    height: 100vh;
    width: 100%;
    background-color:rgb(255, 255, 255) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
#fot1{
   display: flex;
   justify-content: center;
    margin-top: 240px;
    font-weight: 200px;
}
#homeSocialFooter {
    display: flex;
    padding: 0;
    
}
#homeSocialFooter li {
    padding-left: 12px;
    font-size: 16px;
}
#homeSocialFooter li a {   
    font-size: 12px;
}
#fot3{
    margin-left: -690px;
    font-size: 12px;
} 

#log-sec{
    display: flex;
    width: 100%;
    height: 594PX;
    margin-top: 80px;
    
}
.log-div{
    width: 100%;
    height: 100vh;
    display: flex;
 
}
#in{
width: 30%;
height: 100%;
padding-left: 50px;
padding-top: 180px;
}
#ter{
width: 70%;
height: 100%;
padding-left: 50px;
padding-top: 180px;
}
.log-div>div{
width: 50%;
height: 100%;

}

#ld-c1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.log-di{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
 
}
#iga{
    display: flex;
    justify-content: space-between;
}

/* help */
#help-sec{
    display: flex;
    width: 90%;
    height: 594PX;
    margin-top: 80px;
    flex-wrap: wrap;
    align-content: center;
    
}
#help-sec div{
    
    width: 170px;
    height: 170PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
}

#over{
    width: 80%;
    height: 60%;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: transparent;
    z-index: 1;
}
#over2{
    width: 80%;
    height: 60%;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color:transparent;
    z-index: 1;
}
#over3{
    width: 80%;
    height: 60%;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: transparent;
    z-index: 1;
}
#over4{
    width: 80%;
    height: 60%;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color:transparent;
    z-index: 1;
}
.btn{
    background-color: #000;
    color: #fff;
    width: 250px;
    height: 35px;
    outline: none;
    border: none;
}
.btn:hover{
    background-color: rgb(47, 47, 47);
}

.text{
    outline: none;
    border: none;
    width: 250px;
    height: 35px;
    border-bottom: 1px solid black; 
}

/* clotes-------------- */
#banner{
    height: 300px;
    width: 100%;
    margin-top: 80px;
    position: relative;
}
#banner img{
    height:  100%;
    width: 100%;
    position: absolute;
   
}
.but-c-nav{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    z-index: 7;
}
.but-c-nav ul li{
    display: inline-block;
    margin: 20px;
}
.but-c-nav ul{
    margin-top: 10px;
}

#ban-hed{
position: absolute;
color: #fff;
top: 100px;
left: 450px;
}
#ban-des{
position: absolute;
color: #fff;
top: 200px;
left: 500px;
}

#dfp{
    margin-bottom: 100px;
    text-align: center;
    vertical-align: auto;
   
}
#fp{
    font-size: 45px;
    font-weight: 900px;
}
#fd{
    padding-top: 15px;
    padding-left: 60px;
}
.containtt{
    width: 100%;
    height: 200vh;
}
.contain{
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.pro{
    height: 380px;
    width: 260px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    margin-bottom: 25px;
}
.pro img{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    height: 70%;
    width: 90%;
}
.star{
    display: inline-block;
}
.star i{
    color: gold;
}
.pro a{
    position: absolute;
    left: 220px;
    bottom: 10px;
    height: 30px;
    width: 30px;
  
    background-color:rgb(20, 173, 110);
    border: 1px solid  rgb(147, 244, 211);
    border-radius: 50%;
    padding: 3px 5px;
}
.pro a i{
    color:whitesmoke
}
.des{
    padding-left: 10px;
}
.des span{
    font-size: 10px;
    color: silver;
}
.des h4{
    color: rgb(20, 173, 110);
}
.des h5{
 font-size: 15px;
}
.indicator{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.indicator div{
   
    height: 40px;
    width: 40px;
    background-color:  rgb(20, 173, 110);
    padding-top: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid  rgb(147, 244, 211);
    border-radius: 5px;
   
}
.indi{
    color: aliceblue;
}


/* products details -------------------*/

.prodes{
    margin-top: 80px;
    
    width: 100%;

    display: flex;
}
.prodes .pro-img,.pr-det{
    width: 50%;
    height: 100%;
    
}

#a{
    height: auto;
}
.bor{
    /* border: 3px solid rgb(44, 13, 9); */
    border-radius: 5px;
    width: 500px;
    height: 530px;
    margin-left: 60px;
}
.pro-img{
 display: flex;
 flex-direction: column;
 


}
.maximg{
    width: 100%;
    height: 80%;
  margin-bottom: 5px;
}
.maximg img{
    width: 100%;
    height: 100%;
    border-radius: 6px;  
  
}
.mining{
    display: flex;
    justify-content: space-between;
   

}
.mining div img{
    width: 100px;
    height: 100px;  
    border-radius: 6px;  
}
.pr-det h6{
margin-top: 10px;
}
.pr-det h4{
    margin: 30px 0px;
}
 .pr-det h2{
    margin-bottom: 10px;
}
.pr-det input{
    margin-top: 10px;
    width: 40px;
    height: 40px;
    outline: none;
}
.pr-det button{
    margin-top: 10px;
    width: 90px;
    height: 40px;
    background-color: rgb(20, 173, 110) ;
    outline: none;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.pr-det h4{
    font-size: 26px;
}
.sp #m{
    margin-top: 20px;
    text-align: center;
}
.sp #m h1{
    font-size: 40px;
    font-weight: 300;

    margin-top: 60px;

}
.sp #m p{
   margin-left: 130px;
   margin-top: 20px;
   margin-bottom: 25px;

}

/* page man---------- */
#btn-kid{
    position: fixed;
    top: 50%;
    right: 0px;
    z-index: 7;

   }
   #btn-wom{
    position: fixed;
    top: 50%;
    left:  0px;
    z-index: 7;
   }

.man-vid{
    width: 100%;
    height: 90vh;
    display: flex;
    margin-top: 80px;
}

.man-vid .viv-ch{

    width: 100%;
    height: 100%;
    
}
.man-vid>.viv-ch>video{

    width: 100%;
    height: 100%;
    
}

#ch-img{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:  50% 50% ;

}
#ch-img>.imgs>img{
    height: 100%;
    width: 100%;
}
#ch-img>.imgs{
    border: 1px solid rgb(54, 236, 78);
}

.containt-shoes{
    width: 100%;
    height: 100vh;
    background-image: url(Assets/products/men/main.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0vmax;
    position: relative;
}
#over-shoe{
    width: 80%;
    height: 60%;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color:transparent;
    z-index: 1;
}
.containt-mcloth{
    width: 100%;
    height: 100vh;
    background-image: url(Assets/products/men/main2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0vmax;
    position: relative;

}
#over-m-cloths{
    width: 80%;
    height: 60%;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color:transparent;
    z-index: 1;
}
.imgs{
    overflow: hidden;
    transition: initial;
    transition-duration: 3s;
}

.imgs:hover img{
    transform: scale(1.1);
}

/* kidss------------------- */

.hero{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    background-image: url("Assets/products/kids/main1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0vmax;
}

.containt-k1{
    width: 100%;
    height: 100vh;
    background-image: url(Assets/products/kids/main2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0vmax;
    position: relative;
}
#over-k1{
    width: 80%;
    height: 60%;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color:transparent;
    z-index: 1;
}
.containt-k2{
    width: 100%;
    height: 100vh;
    background-image: url(Assets/products/kids/main4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0vmax;
    position: relative;
}
#over-k2{
    width: 80%;
    height: 60%;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color:transparent;
    z-index: 1;
}
.containt-k3{
    width: 100%;
    height: 100vh;
    background-image: url(Assets/products/kids/main0.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0vmax;
    position: relative;
}
#over-k3{
    width: 80%;
    height: 60%;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color:transparent;
    z-index: 1;
}
.containt-k4{
    width: 100%;
    height: 100vh;
    background-image: url(Assets/products/kids/main3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0vmax;
    position: relative;
}
#over-k4{
    width: 80%;
    height: 60%;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color:transparent;
    z-index: 1;
}
